<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test Stand Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Test Stand Dashboard</div>
            <div class="list-group list-group-flush">
                <a href="/" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a href="/pioremotelog" class="list-group-item list-group-item-action bg-light">PIO Remote Log</a>
                <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>

</html>

# Usage Instructions
The Test Stand Dashboard is a web application that allows you to control the test stand remotely.

## Running Unit Tests
Running unit tests is currently managed through PIO Remote. If the PIO remote status is running (see below), you can run
unit tests by clicking the "Run Unit Tests" button, simply click the "Remote test" button in VSCode to push and execute
code.

## Webcam
** NOTE: The webcam is currently not supported. **
If the webcam is connected, you can view the live feed by navigating to the website section in the sidebar. NOTE: the
webcam feed may not be available if it is being used by the unit test script.